<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            {{#if @site.logo}}
                <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
        </div>
    </div>
    <div class="site-nav-right">
        {{#if @site.secondary_navigation}}
            {{navigation type="secondary"}}
        {{else}}
            <div class="site-nav-content">
                {{#if @site.navigation}}
                    {{navigation}}
                {{/if}}
            </div>
        {{/if}}
        <a class="submit-setup-button" href="#subscribe">Submit Setup</a>
    </div>
</nav>
