{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
    {{> site-header}}
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer">
    

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
        <div class="inner">
            <header class="post-full-header">

                {{#if primary_tag}}
                <section class="post-full-tags">
                    {{#primary_tag}}
                    <a href="{{url}}">{{name}}</a>
                    {{/primary_tag}}
                </section>
                {{/if}}

                <h1 class="post-full-title">{{title}}</h1>

                <section class="post-full-date">
                    {{#foreach tags from="2"}}
                        <div class="post-date-tag">
                            Episode {{name}} <span class="post-date-dot">·</span>
                        </div>
                    {{/foreach}}
                    <div class="post-date-tag">{{date published_at format="MMMM D, YYYY"}}</div>
                </section>

            </header>

            <section class="post-full-content">
                <div class="post-content">
                    {{content}}
                </div>
                <div class="post-share-buttons">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" target="_blank" rel="noopener" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/intent/tweet?url={{url absolute='true'}}" target="_blank" rel="noopener" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"><i class="fab fa-pinterest"></i></a>
                </div>
            </section>

            <div class="post-full-byline">

                <section class="post-full-byline-content">
                    
                </section>

            </div>

            {{!-- Email subscribe form at the bottom of the page
            {{#if @labs.members}}
                {{> subscribe-form}}
            {{/if}}
            --}}
            
            <section class="post-full-comments">
                <div id="disqus_thread"></div>
                <script>
                var disqus_config = function () {
                    this.page.url = "{{url absolute="true"}}";  
                    this.page.identifier = "ghost-{{comment_id}}"
                };
                (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://setupsharetactical.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
            </section>

        </article>

    </div>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
        {{#get "posts" filter="primary_tag:{{primary_tag.slug}}+id:-{{id}}" limit="3"}}
            {{#foreach posts}}
                {{> post-card}}
            {{/foreach}}
        {{/get}}
        </div>
    </div>
</aside>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(document).ready(function () {
        // FitVids - start
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        // FitVids - end

        // Replace nav with title on scroll - start
        Casper.stickyNavTitle({
            navSelector: '.site-nav-main',
            titleSelector: '.post-full-title',
            activeClass: 'nav-post-title-active'
        });
        // Replace nav with title on scroll - end

        // Hover on avatar
        var hoverTimeout;
        $('.author-list-item').hover(function () {
            var $this = $(this);

            clearTimeout(hoverTimeout);

            $('.author-card').removeClass('hovered');
            $(this).children('.author-card').addClass('hovered');

        }, function () {
            var $this = $(this);

            hoverTimeout = setTimeout(function () {
                $this.children('.author-card').removeClass('hovered');
            }, 800);
        });
    });
</script>
<script type="text/javascript" async defer data-pin-custom="true" src="
//assets.pinterest.com/js/pinit.js"></script>
{{/contentFor}}
